numpy
pytz
matplotlib
deepdiff
dill
pathos
pip-search
# rich
jstyleson
icecream
easydict
gpustat
tqdm
# pandas



# jupyter
ipython
# import-ipynb
# ipynb
# jupyter
# jupyter_contrib_nbextensions 
# jupyter_nbextensions_configurator # 
# jupyter contrib nbextension install --user ; jupyter nbextensions_configurator enable --user ; echo toc2/main varInspector/main execute_time/ExecuteTime codefolding/main hide_input_all/main hinterland/hinterland freeze/main | xargs -n1 jupyter nbextension enable


# formatting
black
pycodestyle
autopep8
pylint

# auto complete
#pylance

torch<=1.12.1
lightning
# lightning[pytorch-extra]
jsonargparse[signatures]
torchvision
tensorboard